<div class="container">
<!--<div class="oe_overlay"></div>-->
  <header class="sixteen columns">
    <div id="logo">
      <h1><strong>vote</strong>people<em> [:SNU]</em></h1>
    </div>
    <nav>
      <ul>
        <li><a href="#"><button>3votepeople@gmail.com</button></a></li>
      </ul>
    </nav>
    <hr />
  </header>
  
  <div id="indexList" class="sixteen columns" style="text-align:center;">
  
    <%=@realname%>님, 신청해주셔서 감사합니다.
  
  </div><!-- sixteen columns -->
</div>




