<div class="container">

	<!-- Header begins ========================================================================== -->
	<header class="sixteen columns">
		<div id="logo">
			<h1><strong>vote</strong>people<em>.admin [:SNU]</em></h1>
			<!--
			<img src="images/logo.png" width="275" height="35" alt="Logo" />
			-->
		</div>
		<hr />
	</header>
	<!-- Header ends ============================================================================ -->
	
	<!-- Work page begins ======================================================================= -->
	<div id="work">
	
		<div id="overview" class="sixteen columns" style="text-align:center;">
      <p> 인증번호 신청을 취소하였습니다. 휴대폰 번호로 인증하여야 합니다.</p>
      <a href="/admin/student_card_list"><button>뒤로가기</button></a>
		</div>
		
		
		<!-- Even numbered projects are dynamically moved into this second column via JS -->
		<div class="eight columns" id="col2">
		</div>
	
	</div>
	<!-- Work page ends ========================================================================= -->
	
	<!-- About page begins ====================================================================== -->
	
	<!-- Footer begins ========================================================================== -->
	<footer class="sixteen columns">
		<hr />
		<ul id="footerLinks">
			<li>&copy; 2013 votepeople All rights reserved.</li>
			<li><a href="mailto:3votepeople@gmail.com">3votepeople@gmail.com</a></li>
			<li><a href="#" target="_blank">vote.snu.ac.kr</a></li>
		</ul>
	</footer>
	<!-- Footer ends ============================================================================ -->
		
</div><!-- container -->
